<mat-toolbar color="accent">

<!-- 
        <button mat-fab color="accent" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>-->

    <span>Welcome to Book Store Application</span>
    <span class="example-spacer"></span>
    
    <!-- Buyer/Seller buttons 
    <a [routerLink] = "['/books']"><button class="btn" mat-raised-button color="accent">Books</button></a>
    <a [routerLink] = "['/manageBooks']"><button class="btn" mat-raised-button color="accent">Manage Books</button></a> -->
    <a [routerLink] = "['/account']"><button class="btn" mat-raised-button color="accent">My Account</button></a>
    <a [routerLink] = "['/cart']"><button class="btn" mat-raised-button color="accent">Cart</button></a>
    <a [routerLink] = "['/signin']"><button class="btn" mat-raised-button color="accent">Log in</button></a>
    <a [routerLink] = "['/signup']"><button class="btn" mat-raised-button color="accent">Sign up</button></a>
</mat-toolbar>
