<mat-toolbar color="accent">


        <button mat-fab color="accent" aria-label="Example icon button with a home icon">
      <!--    <a [routerLink] = "['/books']"><mat-icon>home</mat-icon></a> -->
        </button>
    <span>Welcome to Bookstore...!!</span>
    <span class="example-spacer"></span>
<div *ngIf = "loggedIn">
  <button mat-raised-button color="accent"  [matMenuTriggerFor]="belowMenu">My Books</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <a [routerLink] = "['/books/add']"><button mat-menu-item>Add Book</button></a>
  <a [routerLink] = "['/books/manage']"><button mat-menu-item> Manage Books </button></a>
</mat-menu>
    <!-- Buyer/Seller buttons -->

    <a [routerLink] = "['/books']"><button class="btn" mat-raised-button color="accent"> All Books</button></a>
    <a [routerLink] = "['/account']"><button class="btn" mat-raised-button color="accent">My Account</button></a>
    <a [routerLink] = "['/cart']"><button class="btn" mat-raised-button color="accent">Cart</button></a>
</div>
    
    <div *ngIf = "!loggedIn">
      <a [routerLink] = "['/signin']"><button class="btn" mat-raised-button color="accent">Log in</button></a>
    <a [routerLink] = "['/signup']"><button class="btn" mat-raised-button color="accent">Sign up</button></a>
    </div>
    <button *ngIf = "loggedIn" (click)="logout()" class="btn" mat-raised-button color="accent">Log Out</button>
    
</mat-toolbar>
