.container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group {
    width: 500px;
    clear: both;
  }
  
  .form-group input {
    width: 100%;
    clear: both;
  }