<div class="container">
    <div>
        <ul>
            <li *ngFor = "let ditem of deletedItemsList">
                <mat-card>
                    <mat-card-header>                  
                      <mat-card-title> Book: {{ditem.title}} was deleted by the user</mat-card-title>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button> Dismiss </button>
                    </mat-card-actions>
                  </mat-card>
            </li>
        </ul>    
    </div>
    
    
    <ul>
        <li *ngFor = "let item of cartList" >
            <mat-card *ngIf = "!(item.book_id == null); else elseBlock" class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{item.book.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input (change)="updateItem($event, item.id, item.book_id)" type="number" min="0" max="999" class="form-control" id="quantity" required
                               [(ngModel)]="item.quantity" name="quantity">
                      </div>
                    <!-- <h3> Quantity: {{item.quantity}}</h3> -->
                    <h3>Price: ${{item.book.price}}</h3>
                    <h3> Cost: ${{item.cost}}</h3>
                </mat-card-content>
                <mat-card-actions>
                    <button (click) = "removeItem(item.id)" mat-button> Remove </button>
                </mat-card-actions>
              </mat-card>
              <ng-template #elseBlock>
                <mat-card>
                    <mat-card-content>
                        <p> </p>
                    </mat-card-content>
                </mat-card>
              </ng-template>              
        </li>
    </ul>
    
</div>