.example-card {
    max-width: 400px;
  }
  
  // .example-header-image {
  //   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  //   background-size: cover;
  // }
  
  .container {
      margin-top: 30px;
      display: flex;
      align-items: center;
  }

  li{
    list-style: none;      
    margin-top: 20px;
  }