<div class="accountContainer">
  <div>
    <h1>Account Info</h1><br>
    <h2>Firstname: {{firstname}}</h2><br>
    <h2>Lastname: {{lastname}}</h2><br>
    <h2>Email: {{email}}</h2><br>



    <form>
        <!--  Div class for firstname -->
          <div class="form-group">
            <input [(ngModel)]="tempfname" class="form-control" type="text" required name="firstname" placeholder="Enter firstname"
              required minlength="5" maxlength="40" />
          </div><br>

          <!-- Div class for lastname -->
          <div class="form-group">
            <input [(ngModel)]="templname" class="form-control" type="text" required name="lastname" placeholder="Enter lastname">
          </div><br>    

           <!-- Div class for Login Button -->
      <div class="form-group">
        <button class="button" (click)="UpdateUserInfo()">Update Info</button>
      </div><br>

        </form>
        <form>
          <!--  Div class for firstname -->
            <div class="form-group">
              <input [(ngModel)]="oldpassword" class="form-control" type="password" required name="oldpassword" placeholder="Enter current password"
                required minlength="5" maxlength="40" />
            </div><br>
  
            <!-- Div class for lastname -->
            <div class="form-group">
              <input [(ngModel)]="newpassword" class="form-control" type="password" required name="newpassword" placeholder="Enter new password">
            </div><br>
  
             <!-- Div class for Login Button -->
        <div class="form-group">
          <button class="button" (click)="UpdatePassword()">Update Password</button>
        </div>
  
          </form>
</div>

<br>



        


</div>
